body, html {
    margin: 2px;
    padding: 2px;
    width: 400px; /* Define a largura do popup */
    height: 500px; /* Define a altura do popup */
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background: grey;
}

.container {
    display: flex;
    flex-direction: column;
    height: 99%;
    width: 98%;
}

#summary {
    flex-grow: 1;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    resize: none;
    box-sizing: border-box;
    background: lightgray;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left-actions, .right-actions {
    display: flex;
    align-items: center;
}

.image-button {
    border: none;
    background: none;
    cursor: pointer;
}

.image-button img {
    width: 24px;
    height: 24px;
}

.right-actions button, .right-actions select {
    padding: 4px 8px;
    font-size: 13px;
    cursor: pointer;
    width: min-content;
    border-radius: 4px;
    background-color: lightblue;
}

.image-button {
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 5px;
}

.image-button img {
    width: 24px;
    height: 24px;
}

@keyframes clickAnimation {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.95);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.image-button:active { /* This will trigger when the button is actively being clicked */
    animation: clickAnimation 0.2s ease;
}


.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}